In [4]:
import pandas as pd

# load dataset
df = pd.read_csv("healthcare_dataset.csv")

In [ ]:
# get an idea of what the dataset looks like
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,1/31/2024,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328,Urgent,2/2/2024,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,8/20/2019,Samantha Davies,Kim Inc,Medicare,33643.32729,265,Emergency,8/26/2019,Ibuprofen,Inconclusive
2,EMILY JOHNSOn,36,Male,A+,Asthma,12/20/2023,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.11095,389,Urgent,12/24/2023,Ibuprofen,Normal
3,EMILY JOHNSOn,36,Male,A+,Asthma,12/20/2023,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.11095,389,Urgent,12/24/2023,Ibuprofen,Normal
4,DaNnY sMitH,76,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205,Emergency,10/7/2022,Aspirin,Normal

In [6]:
# drop duplicate rows
df.drop_duplicates(inplace=True)

# fill missing values (example: filling with mean for numerical columns)
df.fillna(df.mean(numeric_only=True), inplace=True)
df.fillna("Unknown", inplace=True)

# convert column names to lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

# remove trailing spaces from columns
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

# convert names to title case for readability and consistency
if 'name' in df.columns:
    df['name'] = df['name'].str.title()

# convert date columns to datetime
date_columns = ['date_of_birth', 'date_of_admission', 'date_of_discharge']
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col])

In [7]:
# save cleaned dataset
output_path = "output_cleaned.csv"
df.to_csv(output_path, index=False)

print(f"Cleaned data saved to {output_path}")

Cleaned data saved to output_cleaned.csv

In [8]:
# check how the dataset looks like after cleaning
df.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328,Urgent,2/2/2024,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.32729,265,Emergency,8/26/2019,Ibuprofen,Inconclusive
2,Emily Johnson,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.11095,389,Urgent,12/24/2023,Ibuprofen,Normal
4,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205,Emergency,10/7/2022,Aspirin,Normal
5,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78241,450,Elective,12/18/2020,Ibuprofen,Abnormal